extends layout

block content
    h1= title

    form(action="../add", method="POST")
        label(for="name") Name:
        input(name = "name", type="text")
        br
        label(for="info") info:
        textarea(name = "info", type="text")
        br
        label(for="picLink1") Picture Link 1:
        input(name = "pickLink1", type="text")
        br
        label(for="picLink2") Picture Link 2:
        input(name = "pickLink1", type="text")
        br
        label(for="picLink3") Picture Link 3:
        input(name = "pickLink1", type="text")
        br
        label(for="link") Link:
        input(name = "link", type="text")
        br
        input(type="submit", value="Submit")
